<h1 class="container-fluid" [ngStyle]="{'font-weight': bold}">GALERÍA DE IMÁGENES</h1>
<app-carousel [delay]="2000">
    <app-carousel-item>
        <img src="https://cdn.pixabay.com/photo/2019/11/01/11/35/brittany-4593975__340.jpg" alt="">
    </app-carousel-item>
    <app-carousel-item>
        <img src="https://cdn.pixabay.com/photo/2019/04/06/02/20/street-4106538__340.jpg" alt="">
    </app-carousel-item>
    <app-carousel-item>
        <img src="https://cdn.pixabay.com/photo/2019/11/01/05/24/mountains-and-hills-4593336__340.jpg" alt="">
    </app-carousel-item>
    <app-carousel-item>
        <img src="https://cdn.pixabay.com/photo/2019/11/03/08/35/road-4598095__340.jpg" alt="">
    </app-carousel-item>
    <app-carousel-item>
        <img src="https://cdn.pixabay.com/photo/2019/11/05/20/36/abu-dhabi-4604499__340.jpg" alt="">
    </app-carousel-item>
    <app-carousel-item>
        <img src="https://cdn.pixabay.com/photo/2019/10/18/17/42/season-4559795__340.jpg" alt="">
    </app-carousel-item>
    <app-carousel-item>
        <img src="https://cdn.pixabay.com/photo/2019/10/25/06/07/sky-4576072__340.jpg" alt="">
    </app-carousel-item>
</app-carousel>